* {
    margin: 0;
    padding: 0;
}

.dashboard {
    min-height: 100vh;
    display: grid;
    grid-template: minmax(165px, 15%) 1fr / minmax(300px, 10%) 1fr;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;
    display: grid;
    justify-content: center;
    grid-template-rows: 
        minmax(90px, 2.5%)
        minmax(325px, 10%)
        minmax(100px, 1fr);
}

.sidebar .title {
    padding-top: 20px;
}

.sidebar > div > h2 {
    padding-top: 15px;
}

.header {
    background-color: lightcoral;
    display: grid;
    grid-template: 65px / minmax(500px, 70%) 1fr;
}

.search {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.search-icon {
    margin-top: 25px;
    margin-left: 50px;
    width: 25px;
    height: 25px;
    background-color: gray;
}

.search-bar {
    margin-top: 20px;
    border-radius: 20px;
    background-color: gray;
    width: 95%;
    height: 30px;
}

.notif {
    display: grid;
    grid-template-columns: 
        minmax(150px, 35%)
        minmax(50px, 10%)
        minmax(200px, 1fr)
}

.notif .bell {
    margin-top: 25px;
    margin-left: 120px;
    height: 25px;
    width: 25px;
    background-color: gray;
}

.notif .profile-pic {
    margin-top: 15px;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    background-color: green;
}

.notif .name {
    margin-top: 25px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bolder;
}

.user-info {
    display: grid;
    grid-template: repeat(2, 40px) / 135px 1fr;
}

.user-info .profile-pic {
    grid-row: 1 / 3;
    margin-left: 55px;
    margin-top: 20px;
    height: 65px;
    width: 65px;
    background-color: green;
    border-radius: 35px;
}

.user-info .greeting {
    margin-top: 30px;
    font-weight: 600;
    font-size: 14px;
}

.user-info .user-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.buttons {
    display: grid;
    grid-template-columns: 170px 135px 150px;
}

.buttons button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 20px;
    width: 105px;
    height: 40px;
    margin-top: 35px;
    background-color: teal;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.buttons .new {
    margin-left: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: min-content 1fr;
    background-color: lightgray;
    padding: 1rem;
    padding-right: 1.5rem;
    gap: 1.5rem;
}

.content .projects {
    grid-row: 1 / 3;
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-auto-rows: 375px;
    gap: 2rem;
}

.projects .cards .card {
    display: grid;
}

.top .heading {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.bottom {
    display: grid;
    grid-auto-flow: column;
    place-content: end;
    gap: 10px;
}

.projects h3,
.announcement h3,
.trending h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.content .cards > * {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    border-left: 10px solid darksalmon;
}

.announcement .card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    display: grid;
}

.announcement .card .info .heading {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.announcement .card .info {
    padding: 10px
}

.announcement .card .info:first-child,
.announcement .card .info:first-child + .info {
    border-bottom: 1px solid grey;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.trending .card {
    background-color: white;
    border-radius: 0.5rem;
}